body {
  height: 100vh;
  background: #571745;
  color: #ffc300;
  display: grid;
  grid-template-rows: 150px 500px 1fr;
  grid-template-areas:
    "title title"
    "map map"
    "p1 p2";

}

canvas {
  height: 90%;
  width: 90%;

}

img {
  width: 750px;
  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}

article {
  display: flex;
  justify-content: space-around;
}

p {
  display: inline-block;
  margin-left: 20px;
}

progress {
  height: 10px;
  margin: 15px;
}



#title {
  grid-area: title;
  display: flex;
  justify-content: center;
}


#map {
  display: flex;
  justify-content: center;
  grid-area: map;
  /* background: yellow; */
}

#player-one-section {
  grid-area: p1;
  background: #900c3d;
  display: flex;
  align-items: center;
  flex-direction: column;
  font: 1em sans-serif;
}

#player-two-section {
  grid-area: p2;
  background: #c70139;
  display: flex;
  align-items: center;
  flex-direction: column;
  font: 1em sans-serif;
}

.btn {
  display: inline-block;
  width: 30%;
  height: 15%;
}