* {
  font-family: 'Germania One', cursive;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: #f8efd0;
  display: grid;
  grid-template-rows: 150px 500px 1fr;
  grid-template-areas:
    "title title"
    "map map"
    "p1 p2";
}

canvas {
  height: 90%;
  width: 90%;
}

h1 {
  margin: auto;
  font-size: 75px;
  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}

p {
  display: inline-block;
  margin-left: 20px;
}

progress {
  height: 10px;

}

header {
  background-color: #425c6c;
}

canvas {
  background: lightgrey;
}

table {
  border-spacing: 10px;
  border-collapse: separate;
  z-index: 1;
  position: absolute;
  left: 50PX;
  top: 30px;
}

#stage {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

#title {
  grid-area: title;
  display: flex;
  justify-content: center;
}


#map {
  margin: 10px auto;
  width: 80%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  grid-area: map;
}

#player-one-section {
  grid-area: p1;
  background: #d88859;
  display: flex;
  align-items: center;
  flex-direction: column;
  font: 1em sans-serif;
}

#player-two-section {
  grid-area: p2;
  background: #8b8582;
  display: flex;
  align-items: center;
  flex-direction: column;
  font: 1em sans-serif;
}

.character {
  z-index: 2;
}

.name {
  display: block;
}

.btn {
  display: inline-block;
  width: 30%;
  height: 15%;
}

.top-player-article {
  position: relative;
  height: 150px;
  width: 100%;
}

.status-background {
  position: absolute;
  left: 0;
  width: 70%;
}

.bottom-article {
  display: flex;
  justify-content: space-around;
}

.outcomes {
  display: block;
  position: relative;
  top: -20px;
  left: 30px;
}
